<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>

    {% if page.custom_header %}
        {% include header_shared.html %}
    {% endif %}

    {% include menu.html %}

    <main>
        {{ content }}
    </main>

    {% if page.footer == "shared" %}
        {% include footer_shared.html %}
    {% elsif page.footer == "page3" %}
        {% include footer_3.html %}
    {% endif %}
    </body>
</html>